.m-btn.ant-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;

  &.ant-btn-block {
    display: flex;
    justify-content: center;
  }

  &.msg-plain-text {
    white-space: normal;
    height: unset;
    text-align: left;
  }
}

a:hover {
  opacity: 0.7 !important;

}
