@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ant Design Base Styles */
@import "antd/dist/reset.css";

/* Root Variables */
:root {
  --body-bg: #ffffff;
	--txt-color: #000000;
	--main-color: #1677ff;
	--error-color: #961a1a;
	--white: #fff;
	--black: #000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

body {
  font-weight: 400;
	line-height: 1.5;
  background-color: var(--body-bg);
	color: var(--txt-color);
}
